@use '@/app/variables.scss' as palette;

.input {
  display: block;
  padding: 20px;
  border: 2px solid palette.$typography-disabled-color;
  border-radius: 5px;
  background-color: palette.$bg-primary-color;

  &::placeholder {
    color: palette.$typography-disabled-color;
  }

  &:focus {
    color: palette.$typography-primary-color;
    border-color: palette.$typography-primary-color;
  }
}
