// color palette
$typography-primary-color: #eae2ea;
$typography-secondary-color: #71499c;
$typography-disabled-color: #5b5668;
$typography-error-color: #e4435f;

$bg-primary-color: #211e29;
$bg-secondary-color: #111014;
$bg-accent-color: #71499c;
