// color palette
$typography-primary-color: #EAE2EA;
$typography-secondary-color: #71499C;
$typography-disabled-color: #5B5668;
$typography-error-color: #E4435F;

$bg-primary-color: #211E29;
$bg-secondary-color: #111014;
$bg-accent-color: #71499C;
