@use '@/app/variables.scss' as palette;

.search-bar-wrapper {
  position: relative;
}

.input {
  display: block;
  padding: 20px;
  border: 2px solid palette.$typography-disabled-color;
  border-radius: 5px;
  background-color: palette.$bg-primary-color;
  width: 100%;
  color: palette.$typography-disabled-color;
  &::placeholder {
    color: palette.$typography-disabled-color;
  }

  &:focus {
    color: palette.$typography-primary-color;
    border-color: palette.$typography-primary-color;
  }
}

.search-icon {
  position: absolute;
  top: 20%;
  left: 80%;
  fill: palette.$typography-disabled-color;
}
.focused {
  fill: palette.$typography-primary-color;
}
